@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.sponsor-section {
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.sponsor-section .animation {
    display: inline-flex; 
    gap: 80px; 
    white-space: nowrap;
}


.sponsor-section p {
    -webkit-text-fill-color: rgb(255, 253, 253);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 5vw;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin: 0;
    display: inline-block;
    letter-spacing: 8px;
}

