<link rel="stylesheet" href="/style/hero.css">

<section class="relative-section">
    <div class="container">
        <div class="grid">
            <div>
                <h1 class="title">Choose Your Quizz</h1>
                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown .</p>

                <div class="relative mt-8 rounded-full sm:mt-12"></div>
                <div class="mt-8 sm:mt-12">
                    <div class="flex items-center mt-3">
                        <div class="flex"></div>
                    </div>
                </div>
            </div>

            <div class="relative">
                <img src="/assets/quiz.png" class="rounded-image">
            </div>
        </div>
    </div>
</section>
