<link rel="stylesheet" href="/style/navbar.css">

<nav class="navbar">
    <div class="logo">LOGO</div>
    <div class="nav-links">
        <div class="search-bar">
            <input type="text" placeholder="Search Quiz...">
            <i class="fa fa-search"></i>
        </div>
        <div class="user-icon">
            <div class="profile" id="profile"></div>
        </div>
    </div>
</nav>

<div id="opener" class="opner">
    <div class="user-info user-info-dark">
        <div>name</div>
        <div class="font-medium truncate">ghollamsimo1@gmail.com</div>
    </div>
    <div class="menu-list menu-list-dark" aria-labelledby="dropdownUserAvatarButton">
        <ul>
            <li><a href="#" class="menu-list-item menu-list-item-dark">Settings</a></li>
        </ul>
    </div>
    <div class="py-2">
        <a href="#" class="signout-link signout-link-dark">Sign out</a>
    </div>
</div>

<script src="/js/script.js"></script>
